#container {
    margin-top: -81px;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url('./img//gameBg.png');
}

.content {
    width: 100vw;
    text-align: center;
    margin-top: 173px;
    position: absolute;
}

#first {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 686px;
    height: 781.24px;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
}

#gTitle {
    position: relative;
    height: 520px;
    font-size: 70px;
    color: white;
    /* line-height: 150%; */
    text-align: center;
}

.up {
    width: 100%;
    top : 140px;
    text-align: center;
}

#middle {
    width: 100%;
    font-size: 19px;
    top : 95px;
    line-height: 150%;
    font-family: 'GothicA1-Light';
    opacity: 0;
}

.down {
    width: 100%;
    bottom : 140px;
}

.down:hover {
    color: #076A41;
    cursor: pointer;
}

#gTitle div {
    position: absolute;
    transition: all 0.3s;
}

#gTitle:hover .up{
    top : -20px;
}

#gTitle:hover .down{
    bottom : -20px;
}

#gTitle:hover #middle {
    opacity: 1;
    transition: all 0.5s;
}

#gTitle a {
    color: white;
    text-decoration-line: none;
}

.upArr {
    transform: rotate( 180deg );
}

.leftArr {
    transform: rotate( 90deg );
}

.rightArr {
    transform: rotate( 270deg );
}

#second {
    margin-top: 30px;
    padding-top: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1410px;
}

#wText {
    font-size: 22px;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
}

#worry {
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
}

#world {
    position: absolute;
    top: 0;
    left: 450px;
}

#worldText {
    padding-left: 19px;
    padding-top: 19px;
    width: 401px;
    height: 164px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    background: #FFFFFF;
    border-radius: 7px;
    resize: none;
    position: absolute;
    top: 455px;
    font-size: 19px;
    line-height: 24px;
    left: 488px;
}

.btnText {
    margin-top: 37.12px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 28px;    
}

#second a {
    color: #FFFFFF;
    text-decoration-line: none;
}