#first {
    margin-top: 57px;
    background-image: url('../img/first-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 1403px;
}

#top {
    overflow:auto;
}

#second {    
    position: relative;
    width: 1401.6px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    position:absolute; 
    vertical-align: middle;
    width:100vmax;
}

.intro {
    font-weight: 600;
    font-size: 20px;
}

#rIntro {
    margin-bottom: -60px;
}

.intro :first-child {
    text-decoration: underline;
    text-underline-position: under;
}

.intro :nth-child(2) {
    float: right;
}

.logo {
    float: right;
    margin-right: 100px;
}

.tContent {
    margin-top: 80px;
    font-size: 70px;
    font-weight: 600;
    line-height: 100px;
}

.tContent a {
    color: black;
    text-decoration-line: none;
}

.tContent :nth-child(2n-1) {
    margin-left: 210px;
}

.tContent :nth-child(2n) {
    margin-left: 90px;
}

.tContent :nth-child(4) {
    
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
}

.hText {
    display: flex;
}

.hText:hover{
    color: #076A41;
}

.tContent :nth-child(5) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 875px;
    margin-top: 50px;
}

.arrow {
    left:660px;
    top:430px;
    position: absolute;
}

#gIntro {
    margin-top: 373px;
    margin-bottom: 100px;
}

.gContent {
    position: relative;
    margin-bottom: 800px;
}

#gTitle {
    position: relative;
    z-index: 100;
    margin-top: 42px;
    font-weight: 500;
    font-size: 40px;
    line-height: 160%;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    margin-bottom: 46px;
}

#gTitle2{
    width: 922px;
    text-align-last: justify;
    text-align: right;
}

#gTitle :nth-child(2) {
    float: right;
    letter-spacing: -0.02em;
    text-align: left;
}

#cgr {
    color: #076A41;
}

.gLo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gr, #gr2 {
    position: absolute;
}

#gr {
    top: 0;
    right: 0;
}

#gr2 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 780px;
    left: 81px;
    top: 402.89px;
}

#goGame {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 45px;
    transition: all 0.5s;
}

#goGame a {
    text-decoration: none;
    transition: all 0.5s;
    color: black;
}

#goGame a:hover {
    color: #076A41;
}

#goGame:hover{
    color: #076A41;
}

.rContent {
    height: 100vh;
    position: relative;
    font-size: 70px;
    font-weight: 600;
}

.rContent > div{
    z-index: 2;
    position: absolute;
}

.rContent :first-child {
    top: 200px;
    font-size: 20px;
    line-height: 30px;
}

.rContent :nth-child(2) {
    top: 185px;
    left: 230px;
}

.rContent :nth-child(2) > span{ 
    font-size: 70px;
}

.rContent :nth-child(3){ 
    top: 326px;
}

.rContent :nth-child(4){ 
    top: 341px;
    left: 850px;
    font-size: 20px;
    line-height: 30px;
}

.rContent :nth-child(5) {
    top: 326px;
    right: 0;
}

.rContent :nth-child(6) { 
    width: 715px;
    display: flex;
    justify-content: space-between;
    top: 462px;
}

.rContent :nth-child(6) :first-child { 
    margin-top: 30px;
    font-size: 70px;
}

.rContent :nth-child(7) {
    top: 598px;
}

.rContent :nth-child(8) {
    top: 603px;
    left: 650px;
}

.rContent :nth-child(9) {
    right: 0;
    top: 598px;
}

#thesis {
    color: #076A41;
    font-size: 70px;
}

#thesis a {
    text-decoration-line: none;
}

/* .gContent :first-child{
    margin-top: 300px;
    float: right;
    font-weight: 600;
} */

#r1, #r2, #r3, #arrow2 {
    position: absolute;
    width: auto;
}

#r1 {
    top: 250px;
    left: 230px;
}

#r2 {
    top:165px;
    right: 227px;
}

#r3 {
    top: 495px;
    right: 360px;
}

.logo2 {
    position: absolute;
    top: 185px;
    right: 0;
}

.logo3 {
    margin-top: 5px;
}

#arrow2 {
    top: 700px;
    right: 0;
}