#first {
    width: 1417px;
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
}

.rTitle {
    font-size: 64px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap; /* 줄 바꿈 방지 */
}

.rTitle2 {
    width: 1416px;
    font-size: 64px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap; /* 줄 바꿈 방지 */
    letter-spacing: -0.05em;
    text-align-last: justify;
}

#logo {
    position: absolute;
    padding-top: 3px;
    width: 63px;
}

#second {
    width: 1176px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.theImgs {
    display: flex;
    justify-content: space-between;
}

.tContent {
    width: 696px;
}

#subContent {
    display: flex;
    justify-content: space-between;
}

#pTitle {
    margin-top: 26px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 130%;
}

#pText {
    margin-top: 11px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    width: 696px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.76);
}