* {
  /* outline: solid 1px red;  */
}

html {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  margin : 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'GothicA1-Light';
}

body { 
  height: 100%; 
  font-family: 'GothicA1-Light';
}

body::-webkit-scrollbar {
    display: none;
    /* overflow: hidden; */
}

.nav {
  font-size: 16px;
  color: white;
  list-style-type: none;
  width: 100vw;
  margin-top: -10px;
  font-weight: 600;
  line-height: 70px;
  height: 91px;
}

.nav-bg {
  font-size: 16px;
  background-color: white;
  list-style-type: none;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  font-weight: 600;
  line-height: 70px;
  height: 91px;
}

.nav, .nav-bg {
  position: sticky;
}

.in-nav {
  padding-top: -20px;
  width : 1416px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 35px;
  width: 32px;
}

.fade-out {
  opacity: 0;
}

.nav-list {
  float: right;
  list-style-type: none;
  display: flex;
  text-align: center;
  margin-left: auto;
} 

.nav-list > li {
  padding-left: 170px;
  /* padding-right: 85px; */
  text-decoration-line: none;
}

.nav a {
  text-decoration-line: none;
  color: white;
}

.nav-bg a {
  text-decoration-line: none;
  color: black;
}

a:hover, a:focus { 
  opacity: 1;
  transition: opacity 1s;
}

a:visited {
  text-decoration-line: none;
}

.nanum {
  font-family: 'NanumMyeongjoExtraBold';
  font-weight: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Nanum+Myeongjo&display=swap');

footer {
  width: 100vw;
  height: 332px;
  background-color: #f4f4f4;
}

#footer {
  display: flex;
  justify-content: space-between;
  width: 815px;
  padding-top: 99px;
  margin-left: 252px;
  line-height: 40px;
  font-size: 16px;
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
}

#none {
  display: none;
}

#footer :nth-child(2) {
  color: #076A41;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
  opacity: 1;
  visibility: visible;
}

.fade-out {
  animation: fadeOut 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover {
  cursor: grab;
}

.card > img {
  position:absolute;
}

.card1 {
  position:absolute;
  left: 100px;
  top: 0;
}

.card2 {
  position:absolute;
  right: 100px;
  top: 0;
  transition: all 0.5s;
}

.container div {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 504px;
  perspective: 1000px;
}

.card {
  position: absolute;
  left: 0;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back, .sm, .big {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.rot {
  transform: rotateY(180deg);
}

.sm {
  opacity: 0;
  transform: scale(0.1);
}

.big {
  opacity: 1;
  transition: all 1s;
  transform: scale(1);
}

.l {
  left: 100px;
}

.r {
  left: 805px;
}

.card img {
  transition: all 0.5s;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.sticky-header.show {
  transform: translateY(0);
}

.sticky-header.hide {
  transform: translateY(-100%);
}